<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<body>
    <% if(alias) { %>
        <div>
            Your Link:
            <a target="_blank" href="http://localhost:3000/<%= alias %>">http://localhost:3000/<%= alias %></a>
        </div>
    <% } %>
    <form method="POST" action="/">
        <input type="url" name="url" placeholder="google.com">
        <button type="submit">Shorten It!</button>
    </form>
</body>
</html>