<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<body>
    <script type="text/javascript">
        atOptions = {
            'key' : '281db022c2706b97b514a6d20794faa3',
            'format' : 'iframe',
            'height' : 50,
            'width' : 320,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplaycontent.com/281db022c2706b97b514a6d20794faa3/invoke.js"></scr' + 'ipt>');
    </script>
    <!-- <iframe src="//281db022c2706b97b514a6d20794faa3" width="320" height="50" frameborder="0"> -->
    </iframe>
    <form method="POST" action="/">
        <input type="url" name="url" placeholder="google.com">
        <button type="submit">Shorten It!</button>
    </form>
</body>
</html>