.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
}

.header-text {
  position: relative;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.text {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px 30px;
  border: 2px solid #21262d;
  border-radius: 25px;
}

.title {
  text-align: center;
  color: yellowgreen;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
